 /*[GENERAL SETTINGS]*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;    
}

 body {
   font-family:Arial, Helvetica, sans-serif;
   font-size: 16px;
   line-height: 1.5;
   min-height: 100vh;
   background-color: #ECE8FD;
 }
 
 a {
    text-decoration: none;
 }

li {
  color: #2B3E56;
}

 img {
    max-width: 100%;
    height: auto;
    display: block;
 }

h1, h2, h3, h4, h5, h6 {
    color: #2B3E56;
} 

p {
    color: #2B3E56;
    font-size: 25px;
}

.container {
    max-width: 1345px;
}

 /*[NAVIGATION MENU]*/

.container-header {
    max-width: 1345px;
}


header {
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #ECE8FD;
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
  position: fixed;
}

.navegacao{
  max-width: 1345px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    gap:30px;
}

.navegacao img{
    width: 250px;
    margin-left: 20px;
}
 .navegacao .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    gap:60px;
 }

.navegacao ul{
  list-style: none;
}

.menu a {
    color: #2B3E56;
    font-weight: bold;
    font-size:20px;
}

.menu a:hover{
    color: #8087F2;
}

.comunidade-linha{
    text-decoration: underline;
}

 /*[BANNER 1]*/

.banner_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap:50px;
    max-width: 1800px;
    height: 480px;
    min-width: 600px;
    align-items: center;
    margin: 0 auto;
    padding: 90px;
    background-color: #ECE8FD;
    border-color: #2B3E56 1px solid;
}

.banner_1 .texto {
    width: 450px;
    margin-top: 80px;
}

.banner_1 p {
    padding: 10px 0;
}

.banner_1 img {
    max-width: 100%;
    width: 600px;
    margin-top: 20px;
}

.banner_1 h1 {
    font-size: 35px;
}

button{
    background-color: #5F67D4;
    color: white;
    border-radius: 8px;
    width: 240px;
    height: 50px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botao:hover {
    background-color:#4BA2E9;
}

@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }

  .botao {
    align-self: center;
    width: 100%;
  }
}


section{
  margin: 0px auto;
}

.banner_2 {
    align-items: center;
    margin: 0 auto;
      height: 800px;
  max-width: 1900px;
  height: 750px;
  min-width: 700px;
  align-items: center;
  padding: 60px;
    color: #2B3E56;
    background-color: #ECE8FD;
}

.container3{

  height: 544px;
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  background-color: #F4F2FF;
  border-radius: 40px;
  margin-top: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
  border: #8087F2 1px solid;
}

.textoo1 h3{
  margin-top: 50px;
  font-size: 25px;
}

.textoo1 p{
  font-size: 18px;
}

.botao{
  margin: 0;
  width: 199px;
  height: 60px;
  background-color: #8087F2;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  margin-top: 45px;
}

.botaoum{
  width: 199px;
  height: 60px;
  background-color: #8087F2;
  border-radius: 15px;
  border: none;
    color: #fff;
  font-size: 24px;
}

.botao a{
  color: #fff;
  font-size: 24px;
  align-self: center;
}

.formu{
  margin-top: 80px;
}

.ue{
  width: 460px;
  height: 60px;
  border-radius: 15px;
  font-size: 25px;
  padding-left: 20px;
  border: #8087F2 1px solid;
}

.formu label{
  font-size: 24px;
}

.bot1{
  margin-top: 25px;
  display: grid;
  justify-content: right;
  text-decoration: none;
}

.bot{
  margin: 0;
  width: 199px;
  height: 60px;
  background-color: #8087F2;
}

.container4{
  margin-top: 120px;
  height: 600px;
  background-color: #F4F2FF;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
  border: #8087F2 1px solid;
}


.textoo2{
margin-left: 40px;
text-align: center;
}

.textoo2 h3{
font-size: 32px;
}

.textoo2 p{
  font-size: 22px;
}

.bta{
  display: flex;
  gap:40px;
  margin: 0 auto;
  padding: 0 30px;

}

.bta img{
  width: 120px;
  margin-left: 20px;
}


.bta1 p{
  font-size: 20px;
}


.bta1{
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
  border: #8087F2 1px solid;
  margin-top: 30px;
}

.btaa2 p{
  text-align: center;
}

.btaa2{
  width: 100%;
display: flex;
flex-direction: column;
gap: 15px;
}

.btaa{
  display: flex;
  justify-content: center;
  width: 160px;
  height: 44px;
  background-color: #8087F2;
  border-radius: 15px;
}

.btaa a{
  color: #fff;
  font-size: 24px;
  align-self: center;
}

.container5{
  height: 1100px;
  border-radius: 40px;
  background-color: #F4F2FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
  border: #8087F2 1px solid;
  width: 100%;
}

.textoo3{
margin-left: 40px;
text-align: center;
}

.textoo3 h3{
font-size: 32px;
}

.textoo3 p{
  margin-top: 25px;
  font-size: 20px;
}
.quadrado1{
  width: 100%;
  height: 274px;
  display: flex;
  gap: 20px;
}

.quadrado2{
  width: 90%;
  height: 450px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
  border: #8087F2 1px solid;
  margin-top: 30px;
}

.quadrado{
  background-color: #fff;
  width: 38%;
  height: 185px;
  border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
  border: #8087F2 1px solid;
  margin-top: 30px;
}

.quadrado p {
  font-size: 22px;
}

.quad{
  margin-top: 30px;
  text-align: center;
}

.quadtu {
  padding-top: 60px;
  text-align: center;
}
.quadtu p {
  font-size: 22px;
}


.quadti{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.quadti img{
  margin: 0;
  width: 120px;
}

  .quadti p{
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

.containerto{
  margin: 0 auto;
  width: 400px;
  height: 70px;
  display: flex;
  align-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap:30px;
}

.containerto h4{
  width: 42px;
  font-size: 32px;
}

.botassi{
  margin: 0;
  margin-right: 40px;
  width: 200px;
  height: 60px;
  display: flex;
  justify-self: end;
  text-align: center;
  background-color: #8087F2;
  border-radius: 15px;
  margin-top: 50px;
}

.botassin{
  align-self: center; 
  color: #fff;
  font-size: 24px;
}



.tam{
    font-size: 32px;
}

.cent{
  text-align: center;
  margin-top: 80px;
}

.plano{
    margin: 0 auto;
    width: 437px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bum{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 64px;
    height: 28px;
    background-color: #8087F2;
    border-radius: 100px;
}

.td{
    width: 39px;
    height: 24px;
    border-radius: 100px;
    background-color: #fff;
    align-self: flex-end;
}

.planodois{
    margin: 0px auto;
    max-width: 1345px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tudo{
  padding: 15px;
    width: 380px;
    height: 320px;
    background-color: #F4F2FF;
    border-radius: 40px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
     gap: 10px;
}
.major{
    padding-top: 10px;

}

.divul ul{
  padding-left: 0;
  display: grid;
  margin-top: 20px;
}

.divul li{
  width:400px;
  margin: 0 auto;
    text-align: left;
      list-style-position: inside;
}

.tudo h3{
    font-size: 32px;
    margin-bottom: 10px;
}

.tudo h6{
    margin: 0 auto;
    font-size: 18px;
}


.tudo p, h6, h3{
    text-align: center;
}

.tudo p{
color: #505050;
font-size: 16px;
}

.bhj{
    margin: 0px auto;
    width: 282px;
    height: 60px;
    background-color: #8087F2;
    display: flex;
    justify-content: center;
    border-radius: 15px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.253);
}


.bhj a{
    font-size: 22px;
    align-self: center;
    color: #fff;
}

.bhjpai{
  max-width: 1345px;
  display: flex;
  margin-bottom: 40px;
}



.banner_3 {
        align-items: center;
    margin: 0 auto;
    max-width: 1800px;
    height: 750px;
  align-items: center;
  padding: 60px;
    background-color: #ECE8FD;
}

.banner_3 h3 {
      font-size: 28px;
}

.majorp{
  margin-top: 10px;
  font-weight: bold;
}

.banner_3 p {
      font-size: 20px;
}

.banner_4 {
        align-items: center;
    margin: 0 auto;
      height: 1100px;
  max-width: 1800px;
  padding: 60px;
    background-color: #ECE8FD;
}

.banner_5 {
        align-items: center;
    margin: 0 auto;
      background-color: #E6FCFE;
      height: 600px;
  max-width: 1800px;
  align-items: center;
  padding: 60px;
}



.footer{
  background-color: #ECE8FD;
  max-width: 1985px;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #505050;
    padding-top: 60px;
    font-family: "Inter", sans-serif;
   border-bottom: 2px solid #4BA2E9;
   flex-wrap: nowrap;
   gap:40px;
       max-width: 1345px;
}

.footer-container h3 {
color: #2B3E56;
font-size: 18px;

}

.esquerda p {
max-width: 30ch;
margin-top: 10px;
}


.direita {
    display: flex;
}

.direita a {
    color: #505050;
    font-size: 15px;
}


.copy p{
    color: #505050;
     font-family: "Inter", sans-serif;
     padding: 20px;
     font-size: 14px;
     text-align: center;
}

.menuDois li {
    margin-bottom: 10px;
}

.final-img{
    width: 300px;
}

.footer li{
  text-decoration: none;
  list-style: none;
  align-self: center;
}