 /*[GENERAL SETTINGS]*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;    
}

 body {
   font-family:Arial, Helvetica, sans-serif;
   font-size: 16px;
   line-height: 1.5;
   min-height: 100vh;
      background-color: #ECE8FD;
 }
 
 a {
    text-decoration: none;
 }

 ul {
    list-style: none;
 }

 img {
    max-width: 100%;
    height: auto;
    display: block;
 }

h1, h2, h3, h4, h5, h6 {
    color: #2B3E56;
    
} 

p {
    color: #2B3E56;
    font-size: 25px;
}

.container {
    max-width: 1345px;
}

 /*[NAVIGATION MENU]*/

.container-header {
    max-width: 1345px;
}

header {
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #ECE8FD;
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
  position: fixed;
}

.navegacao{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    gap:30px;
}

.navegacao img{
    width: 250px;
    margin-left: 20px;
}
 .navegacao .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    gap:60px;
 }

.menu a {
    color: #2B3E56;
    font-weight: bold;
    font-size:20px;
}

.menu a:hover{
    color: #8087F2;
}

.inicio-linha{
    text-decoration: underline;
}


 /*[BANNER 1]*/

.banner_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap:50px;
    max-width: 1800px;
    height: 480px;
    min-width: 600px;
    align-items: center;
    margin: 0 auto;
    padding: 90px;
    background-color: #ECE8FD;
    border-color: #2B3E56 1px solid;
}

.banner_1 .texto {
    width: 450px;
    margin-top: 80px;
}

.banner_1 p {
    padding: 10px 0;
}

.banner_1 img {
    max-width: 100%;
    width: 550px;
    margin-top: 80px;
}

.banner_1 h1 {
    font-size: 35px;
}

button{
    background-color: #5F67D4;
    color: white;
    border-radius: 8px;
    width: 240px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color:#4BA2E9;
}

@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }

  .botao {
    align-self: center;
    width: 100%;
  }
}

 /*[BANNER 2]*/

.banner_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1870px;
    height: 800px;
    min-width: 600px;
    margin: 0 auto;
    padding: 60px;
    gap: 50px;
    background-color: #ECE8FD;
}


.banner_2 img{
    width: 500px;
}

.banner_2 .texto {
    width: 320px;
    margin-right: 150px;
}

.banner_2 p {
    padding: 10px 0;
    font-size: 20px;
}

 /*[BANNER 3]*/

.banner_3 {
    display: flex;          
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
    margin: 0 auto;
    max-width: 1870px;
    height: 800px;
    min-width: 600px;
    padding: 60px;
    gap:40px;
    background-color: #ECE8FD;
}

.banner_3 h2 {
    margin-top: 50px;
    font-size:28px;
}

.container-images-banner3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    gap: 120px;
    margin-top: 40px;

}

.banner_3 img {
    width: 220px;
}

.banner_3 p {
    font-size: 18px;
}


 /*[BANNER 4]*/

.banner_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1870px;
    height: 800px;
    min-width: 600px;
    margin: 0 auto;
    padding: 60px;
    gap: 50px;
    background-color: #ECE8FD;
}

.banner_4 .texto {
    width: 290px;
}

.banner_4 p {
    padding: 10px 0;
}



 /*[BANNER 5]*/

.banner_5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1870px;
    height: 500px;
    min-width: 600px;
    margin: 0 auto;
    padding: 60px;
    background-color: #ECE8FD;
    gap: 50px;
}

.banner_5 .texto {
    width: 500px;
}

.banner_5 p {
    padding: 10px 0;
    font-size: 20px;
}

.banner_5 img {
    width: 580px;
}

 /*[FOOTER]*/

.footer{
  background-color: #ECE8FD;
  max-width: 1985px;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #505050;
    padding-top: 60px;
    font-family: "Inter", sans-serif;
   border-bottom: 2px solid #4BA2E9;
   flex-wrap: nowrap;
   gap:40px;
       max-width: 1345px;
}

.footer-container h3 {
color: #2B3E56;
font-size: 18px;

}

.esquerda p {
max-width: 30ch;
margin-top: 10px;
}


.direita {
    display: flex;
}

.direita a {
    color: #505050;
    font-size: 15px;
}


.copy p{
    color: #505050;
     font-family: "Inter", sans-serif;
     padding: 20px;
     font-size: 14px;
     text-align: center;
}

.menuDois li {
    margin-bottom: 10px;
}

.final-img{
    width: 300px;
}

#botao:hover {
    background-color:#4BA2E9;
}

